body {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column; /* or row, depending on your layout needs */
    max-width: 600px; /* adjust as needed */
    margin: auto; /* to center the form on the page */
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}
.auction_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.auction_item > * {
    flex-grow: 1;
}
.auction_image {
    height: 120px;
}
.btn {
    width: 200px
}
